/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    border-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
}

mat-card-header {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
    font: var(--mat-sys-headline-small);

    border-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
}

mat-card-content {
    font: var(--mat-sys-body-medium);
}

ul {
    padding-left: 16px;
}