client/node_modules
client/.vscode
PersonalWebsiteBFF.PersonalWebsiteBFF.Api/appsettings.Development.json
PersonalWebsiteBFF.PersonalWebsiteBFF.Api/appsettings.json
PersonalWebsiteBFF.PersonalWebsiteBFF.Api/.vs
.gitignore
.vs
.github