################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/client/.vscode
/PersonalWebsite.Api/.vs
/PersonalWebsite.Api/bin/Debug/net9.0
/PersonalWebsite.Api/obj
/PersonalWebsite.Api/Properties
/PersonalWebsite.Api/appsettings.Development.json
/PersonalWebsite.Api/appsettings.json
/PersonalWebsite.Api/PersonalWebsite.Api.csproj.user
/PersonalWebsite.Api/PersonalWebsite.Api.http
/PersonalWebsiteBFF/PersonalWebsiteBFF.API/bin/Debug/net9.0
/PersonalWebsiteBFF/PersonalWebsiteBFF.API/.vs
/PersonalWebsiteBFF/.vs
/PersonalWebsiteBFF/PersonalWebsiteBFF.API/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Tests/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Infrastructure/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Tests/bin/Debug/net9.0
/PersonalWebsiteBFF/PersonalWebsiteBFF.Infrastructure/bin/Debug/net9.0
/PersonalWebsiteBFF/PersonalWebsiteBFF.Api/Properties
/PersonalWebsiteBFF/PersonalWebsite.Core/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Common/bin/Debug/net9.0
/PersonalWebsiteBFF/PersonalWebsiteBFF.Common/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Core/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Domain/bin/Debug/net9.0
/PersonalWebsiteBFF/PersonalWebsiteBFF.Domain/obj
/PersonalWebsiteBFF/PersonalWebsiteBFF.Core/bin/Debug/net9.0
/PersonalWebsiteBFF/PersonalWebsiteBFF.Api/PersonalWebsiteBFF.Api.csproj.user
/PersonalWebsiteBFF/PersonalWebsiteBFF.Api/PersonalWebsiteBFF.Api.http
/PersonalWebsiteBFF/PersonalWebsiteBFF.Api/appsettings.Development.json
/PersonalWebsiteBFF/PersonalWebsiteBFF.Api/appsettings.json
