@if(photos.length === 0) {
<p>No photos available currently.</p>
} @else { @if(isMobile) {
<div *ngFor="let photo of photos" class="border rounded shadow-sm p-2">
  <div class="text-center">
    <h3>{{ photo.title }}</h3>
  </div>
  <img [src]="photo.url" [alt]="photo.title" class="img-fluid shadow" />
  <div class="p-2 text-center">
    <p>{{ photo.description }}</p>
  </div>
</div>
} @else {
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let photo of photos">
    <mat-card appearance="outlined" class="m-2 text-center">
      <mat-card-header class="p-2 justify-content-center">
        {{ photo.title }}
      </mat-card-header>
      <mat-card-content class="mb-2">
        <img
          style="max-height: 400px"
          class="img-fluid shadow cursor-pointer"
          [src]="photo.url"
          [alt]="photo.title"
          (click)="openPhoto(photo)"
        />
        <p>{{ photo.description }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
} }
