<mat-card appearance="outlined" class="m-2 m-md-3 m-lg-5 text-center">
    <mat-card-content class="mb-1">
        <span class="fs-5"> My name is Ben Shepherd, a software developer from the UK.</span>
    </mat-card-content>
    <mat-card-content>
        <span class="fs-5">
            At the moment I use this site to outline a couple of my side-projects and showcase my CV.
        </span>
    </mat-card-content>
    <section class="mt-2 mb-4">
        <a mat-raised-button href="https://www.linkedin.com/in/benshepherd44/" target="_blank">My LinkedIn</a>
    </section>
</mat-card>


<mat-tab-group>
    <mat-tab label="Side Projects">
        <app-side-projects></app-side-projects>
    </mat-tab>
    <mat-tab label="Curriculum Vitae">
        <app-curriculum-vitae></app-curriculum-vitae>
    </mat-tab>
</mat-tab-group>