<div class="d-flex flex-column flex-md-row">
    <div class="col-12 col-md-6">
        <mat-card appearance="outlined" class="m-2 m-md-3 m-lg-5 text-center">
            <mat-card-header class="p-2 justify-content-center">
                Current Side Project - This Website
            </mat-card-header>
            <mat-card-content class="mb-2">
                <div class="p-3">
                    I wrote this website using the latest version of Angular, along with Angular Material
                    components and Bootstrap.
                </div>
            </mat-card-content>
            <section class="mt-2 mb-4">
                <a mat-raised-button href="https://github.com/Ben5hepherd/PersonalWebsite" target="_blank">GitHub
                    Repo</a>
            </section>
        </mat-card>
    </div>
    <div class="col-12 col-md-6">
        <mat-card appearance="outlined" class="m-2 m-md-3 m-lg-5 text-center">
            <mat-card-header class="p-2 justify-content-center">
                A Past Side Project - Questionnaire
            </mat-card-header>
            <mat-card-content class="mb-2">
                <div class="d-flex flex-row justify-content-between">
                    <div class="col-0 col-md-4 pt-4">
                        <img class="img-fluid" src="questionnaire.jpg" alt="questionnaire">
                    </div>
                    <div class="col-12 col-md-8 text-start p-3">
                        The purpose of this web app is to give users the ability to build and complete questionnaires,
                        it
                        includes account creation and login functionality. I used C#, EF Core with SQL Server data
                        storage,
                        Angular with TypeScript and SCSS. I have some unit tests on both the front-end and back-end
                        using
                        Jasmine and XUnit respectively.
                    </div>
                </div>
            </mat-card-content>
            <section class="mt-2 mb-4">
                <a mat-raised-button href="https://github.com/Ben5hepherd/Questionnaire" target="_blank">GitHub Repo</a>
            </section>
        </mat-card>
    </div>
</div>