<mat-toolbar color="primary" class="px-2" [style.height]="'auto'">
  <!-- Desktop -->
  <div
    class="d-none d-md-flex w-100 justify-content-between align-items-center"
  >
    <a class="m-2" mat-raised-button href="/">Home</a>
    <span class="text-center flex-grow-1 mx-2 fs-5"
      >Personal Website for Ben Shepherd</span
    >
    <a class="m-2" mat-raised-button href="/login">Login</a>
  </div>

  <!-- Mobile -->
  <div class="d-flex d-md-none flex-column align-items-center w-100">
    <span class="text-center w-100 pt-2" style="font-size: 1rem">
      Personal Website for Ben Shepherd
    </span>
    <div class="d-flex flex-row gap-2 pb-2">
      <a mat-raised-button href="/">Home</a>
      <a mat-raised-button href="/login">Login</a>
    </div>
  </div>
</mat-toolbar>
