<mat-card appearance="outlined" class="m-2 m-md-3 m-lg-5 text-center">
    <mat-card-header class="p-2 justify-content-center">
        Executive Summary
    </mat-card-header>
    <mat-card-content>
        <div class="pt-3 pl-3 pr-3">
            I have over 8 years of software development experience, working for companies across different industries
            including investment banking, financial services, education and pharmaceuticals. I am now looking for a new
            role to further expand my skillset and pass on my knowledge acquired to date.
        </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="experience-section m-2 m-md-3 m-lg-5 text-center">
    <mat-card-header class="p-2 justify-content-center">
        Experience
    </mat-card-header>
    <mat-card-content class="p-0">
        <app-cv-items></app-cv-items>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="m-2 m-md-3 m-lg-5 text-center">
    <mat-card-header class="p-2 justify-content-center">
        Education
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex flex-column flex-md-row justify-content-center text-start pt-3 pl-3 pr-3">
            <div class="col-12 col-md-4 p-2">
                <div>Warden Park School</div>
                <div>GCSEs: 11, with A* to B grades</div>
            </div>
            <div class="col-12 col-md-4 p-2">
                <div>The College of Richard Collyer </div>
                <div>
                    Advanced Levels:
                    <ul>
                        <li>Mathematics: A*</li>
                        <li>Physics: A*</li>
                        <li>Biology: A*</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 p-2">
                <div>The University of Bristol </div>
                <div>Bachelor of Science (2:1): Physics with Industrial Experience</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>