<mat-card appearance="outlined" class="m-2 m-md-3 text-center">
    <mat-card-header class="p-2 justify-content-center">
        {{header}}
    </mat-card-header>
    <mat-card-content>
        <div class="pt-3 pl-3 pr-3 text-start">
            <div>
                {{ mainContent}}
            </div>
            <ul class="m-0">
                <li *ngFor="let item of items">
                    {{ item }}
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>